<template>
  <div>
    <div><img src="https://mc.yandex.ru/watch/87681162" style="position:absolute; left:-9999px;" alt="" /></div>
    <Desktop v-bind:delegates="delegates" v-bind:nets="nets" v-bind:netsToValidators="netsToValidators" v-if="desktop"></Desktop>
    <mobile v-bind:delegates="delegates" v-bind:nets="nets" v-bind:netsToValidators="netsToValidators" v-if="mobile"></mobile>
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(87681162, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
      });

    </script>
  </div>
</template>

<script>
import "../static/styles/styles.css";
import "../static/fonts/opensans/opensans.css";
import "../static/fonts/osanscondensed/osanscondensed.css";
import "../static/fonts/comfortaa/comfortaa.css";
import "../static/fonts/acrom/stylesheet.css";
import Desktop from "./desktop";
import Mobile from "./mobile";
import Akash from "@/static/nets/Akash.png";
import BandProtocol from "@/static/nets/BandProtocol.png";
import CertiK from "@/static/nets/CertiK.png";
import Comdex from "@/static/nets/Comdex.png";
import Cosmos from "@/static/nets/Cosmos.png";
import Desmos from "@/static/nets/Desmos.png";
import eMoney from "@/static/nets/eMoney.png";
import Iris from "@/static/nets/Iris.png";
import Juno from "@/static/nets/Juno.png";
import Kava from "@/static/nets/Kava.png";
import Ki from "@/static/nets/Ki.png";
import Mediblock from "@/static/nets/Mediblock.png";
import Osmosis from "@/static/nets/Osmosis.png";
import Persistence from "@/static/nets/Persistence.png";
import SecretNetwork from "@/static/nets/SecretNetwork.png";
import SifChain from "@/static/nets/SifChain.png";
import Rizon from "@/static/nets/Rizon.png";
import BitSong from "@/static/nets/BitSong.png";
import LikeCoin from "@/static/nets/LikeKoin.png";
import Chihua from "@/static/nets/Chihua.png";
import Lum from "@/static/nets/Lum.png";
import Sentinel from "@/static/nets/Sentinel.png";
import Cheqd from "@/static/nets/Cheqd.png";
import Dig from "@/static/nets/Dig.png";
import Starname from '../static/nets/starname.png';
import Stargaze from '../static/nets/stargaze.png';
import Mina from '../static/nets/mina.png';
import Celo from '../static/nets/celo.png';
import Casper from '../static/nets/casper.png';
import Polygon from '../static/nets/polygon.png';
import Near from '../static/nets/Near.png';
import Fantom from '../static/nets/Fantom.png';
import Nomic from '../static/nets/Nomic.png'
import Gravity from '../static/nets/Gravity.png'
import Konstellation from '../static/nets/Konstellation.png'
import Cerberus from '../static/nets/ethereum (2) 3.png'
import Ixo from '../static/nets/ixo.png'

export default {
  name: 'IndexPage',
  head() {
    return {
      titleTemplate: 'Stake platform for delegating to a reliable validator | Stakewolle',
      mets: [
        {name: 'description', content: 'The validator you were looking for Powerful encryption protocols Open source No commission until 2023'}
      ]
    }
  },
  components: {Mobile, Desktop},
  data(){
    return{
      mobile: false,
      desktop: false,
      nets: [],
      netsToValidators: [],
      delegates: [],
      netsCount: 0
    }
  },
  created () {
    this.delegates = ['38,458,255', '36,756', '28,123,642'],
        this.netsToValidators = [
          {
            'img': Starname,
            'title': 'Starname',
            'short_title': 'Starname',
            'subtitle': 'Расширяет возможности создателей',
            'subtitle_en': 'EMPOWERS\n' +
                'THE CREATORS',
            'calc_class_slider_desktop': 'slider-item left',
            'calc_info_class_desktop': 'slider-item center',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item left current',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item current',
            'link': 'https://www.starname.me/'
          },
          {
            'img': Stargaze,
            'title': 'Stargaze',
            'short_title': 'Stargaze',
            'subtitle': 'Первый совместимый интерфейс уровня 1 для Nfs',
            'subtitle_en': 'The First Interoperable Layer 1 for NFTs',
            'calc_class_slider_desktop': 'slider-item center',
            'calc_info_class_desktop': 'validators-slider calculator-wrapper__info',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item center',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item',
            'link': 'https://www.stargaze.zone/'
          },
          {
            'img': Mina,
            'title': 'Mina',
            'short_title': 'Mina',
            'subtitle': 'Обеспечение доступа и конфиденциальности к Web3.0 с помощью ZK tech. Mina - самый легкий блокчейн в мире',
            'subtitle_en': 'Bringing access and privacy to Web3.0 with ZK tech. \n' +
                'Mina is the world’s lightest blockchain',
            'calc_class_slider_desktop': 'slider-item right',
            'calc_info_class_desktop': 'validators-slider calculator-wrapper__info',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item right',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item',
            'link': 'https://minaprotocol.com/'
          },
          {
            'img': Celo,
            'title': 'Celo',
            'short_title': 'Celo',
            'subtitle': 'Это открытая платформа, которая делает финансовые инструменты доступными для любого, у кого есть мобильный телефон',
            'subtitle_en': 'Is an open platform that makes financial tools accessible to anyone with a mobile phone',
            'calc_class_slider_desktop': 'slider-item next',
            'calc_info_class_desktop': 'validators-slider calculator-wrapper__info',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item next',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item',
            'link': 'https://t.co/dwpKilicsk'
          },
          {
            'img': Casper,
            'title': 'Casper',
            'short_title': 'Casper',
            'subtitle': 'Первый блокчейн с живым доказательством ставки, построенный на базе Casper CBC',
            'subtitle_en': 'First live proof-of-stake blockchain built off the Casper CBC',
            'calc_class_slider_desktop': 'slider-item next',
            'calc_info_class_desktop': 'validators-slider calculator-wrapper__info current',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item next',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item',
            'link': 'https://casper.network/en/network'
          },
          {
            'img': Polygon,
            'title': 'Polygon',
            'short_title': 'Polygon',
            'subtitle': 'Предлагает широкий спектр безопасных, быстрых, доступных и энергоэффективных Ethereum',
            'subtitle_en': 'Offers a wide range of secure, fast, affordable and energy-efficient Ethereum',
            'calc_class_slider_desktop': 'slider-item next',
            'calc_info_class_desktop': 'validators-slider calculator-wrapper__info',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item next',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item',
            'link': 'https://www.polygon.technology/'
          },
          {
            'img': Near,
            'title': 'Near',
            'short_title': 'Near',
            'subtitle': 'Бизнес, творчество и сообщество переосмысливаются для более устойчивого и инклюзивного будущего.',
            'subtitle_en': 'Business, creativity, and community are being reimagined for a more sustainable and inclusive future.',
            'calc_class_slider_desktop': 'slider-item next',
            'calc_info_class_desktop': 'validators-slider calculator-wrapper__info',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item next',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item',
            'link': 'https://near.org/'
          },
          {
            'img': Fantom,
            'title': 'Fantom',
            'short_title': 'Fantom',
            'subtitle': 'Это быстрая, высокопроизводительная платформа смарт-контрактов с открытым исходным кодом для цифровых активов и приложений.',
            'subtitle_en': 'Is a fast, high-throughput open-source smart contract platform for digital assets and dApps.',
            'calc_class_slider_desktop': 'slider-item next',
            'calc_info_class_desktop': 'validators-slider calculator-wrapper__info',
            'calc_class_slider_mobile': 'validators-slider mobile-stacking__slider-top__item next',
            'calc_info_class_slider_mobile': 'validators-slider mobile-stacking__slider-info__item',
            'link': 'https://fantom.foundation/'
          },

        ]
    this.nets = [
      {
        'coin': 'cosmos',
        'img': Cosmos,
        'title': 'Cosmos',
        'short_title': 'Cosmos',
        'subtitle': 'Открытая, масштабируемая и взаимосвязанная экономика будущего',
        'subtitle_en': 'Open scalable and interconnected economy of the future',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item left current',
        'calc_class_slider_desktop': 'calculator-wrapper__item _01 current',
        'calc_info_class_desktop': 'calculator-wrapper__info current',
        'calc_class_slider_mobile': 'mobile-calculator__top-item left current',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item left current',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item current',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item current',
        'calc_class_info_mobile': 'mobile-calculator__info-item current',
        'token': 'ATOM',
        'week_data': [37.4319,37.4469,37.4463,38.7965,39.1909,37.3985,36.9795,36.4015,36.6498,37.1262,37.1272,37.1939,36.4895,35.7808,36.617,36.3707,36.607,37.7771,37.5614,38.1274,38.8649,39.1438,40.7283],
        'nets_stat_class': 'nets-popup__stat current',
        'block_time': '4,129',
        'price': '40.7283',
        'market_cap': '7 505 053 289',
        'h24_vol': '613687518.5917',
        'stakewolle_comission': '0%',
        'annual_comission': '16.52',
        'kepler_link': 'https://wallet.keplr.app/#/cosmoshub/stake?modal=stake&validator=cosmosvaloper1gf4wlkutql95j7wwsxz490s6fahlvk2s9xpwax',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'cosmos1gf4wlkutql95j7wwsxz490s6fahlvk2sqj4m34',
        'cosmostation': 'https://wallet.cosmostation.io/cosmos/',
        'inflation': '9.62',
        'bonded_ratio': '60.29',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'ki',
        'img': Ki,
        'title': 'Ki',
        'short_title': 'Ki',
        'subtitle': 'Ki объединяет CeFi и DeFi с использованием Tendermint Core',
        'subtitle_en': 'Ki combines CeFi and DeFi using Tendermint Core',
        'fee': '0.0159',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item center',
        'calc_class_slider_desktop': 'calculator-wrapper__item _02',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item center',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item center',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'XKI',
        'week_data': [0.248,0.2503,0.252,0.2545,0.2541,0.2467,0.2475,0.2468,0.2517,0.249,0.2499,0.2496,0.2486,0.2476,0.2456,0.2458,0.2481,0.2518,0.2526,0.2568,0.2585,0.2598,0.2707],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,821',
        'market_cap': '?',
        'h24_vol': '53851.7451',
        'price': '0.2707',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '29.4',
        'kepler_link': 'https://www.mintscan.io/ki-chain/validators/kivaloper19seaxuh9wp3zum42w6flrjsr5raptxhy3l8qvw',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'ki19seaxuh9wp3zum42w6flrjsr5raptxhy9cfa0s',
        'cosmostation': 'https://wallet.cosmostation.io/kichain/',
        'inflation': '14',
        'bonded_ratio': '47',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'juno-network',
        'img': Juno,
        'title': 'Juno',
        'short_title': 'Juno',
        'subtitle': 'Децентрализованная общедоступная сеть без разрешений для смарт-контрактов между цепочками',
        'subtitle_en': 'Decentralized public network without allowance for smart-contracts between chains',
        'fee': '0.5623',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item right',
        'calc_class_slider_desktop': 'calculator-wrapper__item _03',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item right',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item right',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'JUNO',
        'week_data': [14.297,14.2191,13.9948,14.4841,14.618,14.3183,13.7546,13.7231,13.5597,13.9949,13.8782,13.9866,13.6564,13.6101,13.6782,13.6966,13.9457,14.0718,14.3986,14.5152,14.9696,14.9639,15.3623],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,284',
        'market_cap': '1 276 997 141',
        'h24_vol': '9531826.0202',
        'price': '15.3623',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '103',
        'kepler_link': 'https://wallet.keplr.app/#/juno/stake?modal=stake&validator=junovaloper1qr78535yz60zemv82sww948c6azx40gnawnh6r',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'juno1qr78535yz60zemv82sww948c6azx40gnzn9cp6',
        'cosmostation': 'https://wallet.cosmostation.io/juno/',
        'inflation': '40',
        'bonded_ratio': '35.93',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'band-protocol',
        'img': BandProtocol,
        'title': 'Band Protocol',
        'short_title': 'Band Pr.',
        'subtitle': 'Безопасный, масштабируемый кроссчейн децентрализованный - подключение смарт-контрактов к внешним данным и API',
        'subtitle_en': 'Secure, scalable cross-chain decentralized oracle-connecting smart contracts to external data and API',
        'fee': '0.148',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item _04',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'BAND',
        'week_data': [6.4369,6.3336,6.0337,6.2899,6.2228,6.0133,6.0142,5.9742,5.9737,6.122,6.036,6.1066,5.9203,5.725,5.7818,5.7285,5.7895,5.8348,5.7567,5.731,5.7537,5.8042,5.9335],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '3,187',
        'market_cap': '174 809 603',
        'h24_vol': '16874811.9454',
        'price': '5.9335',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '11.8',
        'kepler_link': 'https://cosmoscan.io/validator/bandvaloper1hcu2spr3r80v36us40mg938f5qhaqq2qeajtfv#delegators',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'band1hcu2spr3r80v36us40mg938f5qhaqq2q4tkgv8',
        'cosmostation': 'https://wallet.cosmostation.io/band/',
        'inflation': '9.3',
        'bonded_ratio': '77.06',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'e-money',
        'img': eMoney,
        'title': 'e-Money',
        'short_title': 'e-Money',
        'subtitle': 'Ведущий эмитент по прозрачных, процентных, обеспеченных валютой стейблкоинов для Интернета денег',
        'subtitle_en': 'Leading issuer of transparent, interest-beating, currency-backed stablecoins for the internet of money',
        'fee': '0.0359',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item _05',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'NGM',
        'week_data': [1.2039,1.1712,1.1953,1.1503,1.1822,1.158,1.1583,1.1571,1.171,1.1623,1.1714,1.1573,1.1564,1.1462,1.1491,1.1237,1.1557,1.1412,1.1345,1.1519,1.1773,1.1926,1.1942],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '22,801',
        'market_cap': '35 919 112 ',
        'h24_vol': '777376.3886',
        'price': '1.1942',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '22',
        'kepler_link': 'https://wallet.keplr.app/#/emoney/stake?modal=stake&validator=emoneyvaloper1039h52c70xlqwfqh29gmqq70zwwf8xrs3t9mps',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'emoney1039h52c70xlqwfqh29gmqq70zwwf8xrsktr0la',
        'cosmostation': 'https://wallet.cosmostation.io/emoney/',
        'inflation': '48.95',
        'bonded_ratio': '10',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'osmosis',
        'img': Osmosis,
        'title': 'Osmosis',
        'short_title': 'Osmosis',
        'subtitle': 'Межцепочный AMM Cosmos, созданный на базе IBC',
        'subtitle_en': 'Cross-chain AMM Cosmos based on IBC',
        'fee': '0.4282',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item _06',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'OSMO',
        'week_data': [7.955,7.8536,7.8639,8.0319,8.0619,8.001,7.7576,7.7334,7.6435,7.8746,7.8275,7.8815,7.7301,7.7008,7.788,7.8061,7.811,7.8614,8.0305,8.0977,8.2653,8.2979,8.463],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,154',
        'market_cap': '2 604 412 406',
        'h24_vol': '57761973.7827',
        'price': '8.463',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '63',
        'kepler_link': 'https://wallet.keplr.app/#/osmosis/stake?modal=stake&validator=osmovaloper122yaxffys6rmv03nwwkmn3rvr5skzxl9lry2a5',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'osmo122yaxffys6rmv03nwwkmn3rvr5skzxl995vf2n',
        'cosmostation': 'https://wallet.cosmostation.io/osmosis/',
        'inflation': '62.61',
        'bonded_ratio': '36.85',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'sifchain',
        'img': SifChain,
        'title': 'SifChain',
        'short_title': 'SifChain',
        'subtitle': 'Многоцепочечная децентрализованная биржа (DEX), которая разблокирует ликивдность в различных цепочках ',
        'subtitle_en': 'Decentralized exchange (DEX) which unlocks liquidity in various chains',
        'fee': '0.0033',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'ROWAN',
        'week_data': [0.1626,0.1632,0.1582,0.1627,0.1651,0.1625,0.1597,0.1571,0.1564,0.1562,0.1554,0.1558,0.1537,0.1502,0.1516,0.1521,0.1519,0.1554,0.1573,0.1576,0.165,0.1636,0.1656],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,944',
        'market_cap': '52 745 705',
        'h24_vol': '1674816.2095',
        'price': '0.1656',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '186.9',
        'kepler_link': 'https://wallet.keplr.app/#/sifchain/stake?modal=stake&validator=sifvaloper1ecv3sdx8h54ckv8q8u67cyk0nj37rffwpj7cdx',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'sif1ecv3sdx8h54ckv8q8u67cyk0nj37rffwgskjdk',
        'cosmostation': 'https://wallet.cosmostation.io/sifchain/',
        'inflation': '16.68',
        'bonded_ratio': '28.04',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'secret',
        'img': SecretNetwork,
        'title': 'Secret Network',
        'short_title': 'Secret Net.',
        'subtitle': 'Первый блокчейн со смарт-контрактами с конфиденциальностью данных по умолчанию, работает в сети!',
        'subtitle_en': 'The first blockchain with smart contracts with data privacy by default, works online',
        'fee': '0.4975',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'SCRT',
        'week_data': [6.005,5.8324,5.9145,6.0546,6.1672,6.0438,5.8672,5.7774,5.787,5.9151,5.8978,5.9517,5.7914,5.7142,5.8055,5.8043,5.7381,5.8577,5.8291,5.8267,5.8712,5.9132,6.1422],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,896',
        'market_cap': '942 491 065',
        'h24_vol': '9301696.0297',
        'price': '6.1422',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '23.2',
        'kepler_link': 'https://wallet.keplr.app/#/secret/stake?modal=stake&validator=secretvaloper12ancx2qcgk04rrkexuhjq93etgktq4nn58z9yu',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'secret12ancx2qcgk04rrkexuhjq93etgktq4nn9qvcf4',
        'cosmostation': '-',
        'inflation': '15',
        'bonded_ratio': '61.27',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'kava',
        'img': Kava,
        'title': 'Kava',
        'short_title': 'Kava',
        'subtitle': 'Kava Labs - разработчик платформы Kava, самого безопасного места DeFi для роста вашей криптовалюты',
        'subtitle_en': 'Kava Labs - developer of the Kava platform, the safest DeFi place to grow your cryptocurrency',
        'fee': '0.0541',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'KAVA',
        'week_data': [4.5156,4.4746,4.4213,4.4034,4.4149,4.2922,4.2854,4.1673,4.2437,4.2017,4.2132,4.2492,4.1536,4.0816,4.1613,4.0807,4.1027,4.1531,4.1294,4.1517,4.1859,4.2082,4.245],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,007',
        'market_cap': '496 492 688',
        'h24_vol': '48441104.3324',
        'price': '4.245',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '33.6',
        'kepler_link': 'https://wallet.keplr.app/#/kava/stake?modal=stake&validator=kavavaloper1j4tymd9r3au3vm508l4jugdg7l892l2lmh4jry',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'kava1j4tymd9r3au3vm508l4jugdg7l892l2lkp06mn',
        'cosmostation': 'https://wallet.cosmostation.io/kava/',
        'inflation': '20',
        'bonded_ratio': '61.13',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'iris-network',
        'img': Iris,
        'title': 'Iris',
        'short_title': 'Iris',
        'subtitle': 'Обеспечивает межсетевое взаимодействие, предоставляя модули для поддержки распределенных бизнес-систем',
        'subtitle_en': 'Provides interconnection by providing modules to support distributed business systems',
        'fee': '0.0016',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'IRIS',
        'week_data': [0.086,0.0854,0.0846,0.0866,0.0867,0.0848,0.0836,0.0826,0.0819,0.0824,0.082,0.0825,0.0812,0.0801,0.0812,0.0811,0.0814,0.0822,0.0824,0.0827,0.0837,0.0846,0.0859],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '74 569 976',
        'h24_vol': '2703436.6635',
        'price': '0.0859',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '10.5',
        'kepler_link': 'https://wallet.keplr.app/#/irishub/stake?modal=stake&validator=iva1ycumtcdd6u2f2m2ar5u3szty524xmz6eac6lrh',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'iaa1ycumtcdd6u2f2m2ar5u3szty524xmz6egfss7s',
        'cosmostation': 'https://wallet.cosmostation.io/iris/',
        'inflation': '20',
        'bonded_ratio': '61.13',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'certik',
        'img': CertiK,
        'title': 'CertiK',
        'short_title': 'CertiK',
        'subtitle': 'Решения для централизованной безопасности - обеспечения правильности и безопасности ваших блокчейн-проектов',
        'subtitle_en': 'Centralized security solutions to ensure the correctness and security of your blockchain projects',
        'fee': '0.0497',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'CTK',
        'week_data': [1.5832,1.5625,1.5387,1.5448,1.5483,1.5239,1.5155,1.4987,1.5067,1.4991,1.4958,1.5059,1.4787,1.452,1.4891,1.4782,1.4869,1.5091,1.4975,1.506,1.511,1.5242,1.5463],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,267',
        'market_cap': '74 511 191',
        'h24_vol': '7029591.1839',
        'price': '1.5463',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '24.4',
        'kepler_link': 'https://wallet.keplr.app/#/shentu/stake?modal=stake&validator=certikvaloper1qy7jncf45lluxaya5jaxf9r284jnmzz5fw2egh',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'certik1qy7jncf45lluxaya5jaxf9r284jnmzz576wepd',
        'cosmostation': 'https://wallet.cosmostation.io/certik/',
        'inflation': '9.11',
        'bonded_ratio': '38.80',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'desmos',
        'img': Desmos,
        'title': 'Desmos',
        'short_title': 'Desmos',
        'subtitle': 'Протокол для создания открытых и децентрализованных социальных сетей',
        'subtitle_en': 'Protocol for creating open and decentralized social networks',
        'fee': '0.0584',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'DSM',
        'week_data': [6.756746454089282,6.719625040648165,6.658400217984263,6.558804578850407,6.6631133217383045,6.706563820762318,6.629014771945889,6.643355019296165,6.65631336336257,6.732466353123477,6.859474037635452,6.846855370425091,6.881372608979835,6.847934913432598,6.826332843305616,6.724639877632615,6.676567804677883,6.709205764102956,6.672360529744785,6.676669618493899,6.706708127080004,6.607711163481223,6.532476511750449],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '?',
        'h24_vol': '936439.6169',
        'price': '6.5324',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '98',
        'kepler_link': '-',
        'desmos_link': 'https://explorer.desmos.network/validators/desmosvaloper1zngdx77g9ywnwmwpwvj9w2eqcs6fhw78gn02d8',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'desmos1zngdx77g9ywnwmwpwvj9w2eqcs6fhw78k78784',
        'cosmostation': '-',
        'inflation': '55.82',
        'bonded_ratio': '62',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'comdex',
        'img': Comdex,
        'title': 'Comdex',
        'short_title': 'Comdex',
        'subtitle': 'Протокол синтетических активов на Cosmos',
        'subtitle_en': 'Synthetic asset protocol on Cosmos',
        'fee': '0.0965',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'CMDX',
        'week_data': [4.8763,4.791,4.8141,4.9505,4.9852,4.9287,4.7526,4.7424,4.6861,4.815,4.7713,4.7953,4.6907,4.6723,4.7374,4.745,4.7422,4.7949,4.9454,4.9768,5.0991,5.1161,5.2655],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,101',
        'market_cap': '39 453 354 ',
        'h24_vol': '1886845.6381',
        'price': '5.2655',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '44.8',
        'kepler_link': 'https://wallet.cosmostation.io/comdex',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'comdex15xevj3n6eq36t62sjjrsvf6hkuryg8w3jvmj6x',
        'cosmostation': 'https://wallet.cosmostation.io/comdex/',
        'inflation': '30.22',
        'bonded_ratio': '60.43',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'akash-network',
        'img': Akash,
        'title': 'Akash',
        'short_title': 'Akash',
        'subtitle': 'Первое в мире децентрализованное и открытое облако',
        'subtitle_en': 'The first decentralized and open cloud in the world',
        'fee': '0.0935',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'AKT',
        'week_data': [2.5105,2.4909,2.4489,2.5278,2.5714,2.5106,2.4394,2.4112,2.414,2.465,2.4536,2.4687,2.4197,2.3906,2.4163,2.4005,2.4088,2.4347,2.4799,2.5048,2.5511,2.559,2.6471],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,607',
        'market_cap': '158 340 577',
        'h24_vol': '1471905.7884',
        'price': '2.6471',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '31.2',
        'kepler_link': 'https://wallet.keplr.app/#/akashnet/stake?modal=stake&validator=akashvaloper1ksu368eh54vcqzruqk42dsnx88hvk8px09ws7q',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'akash1ksu368eh54vcqzruqk42dsnx88hvk8px98qkw2',
        'cosmostation': 'https://wallet.cosmostation.io/akash/',
        'inflation': '24.20',
        'bonded_ratio': '73.12',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'persistence',
        'img': Persistence,
        'title': 'Persistence',
        'short_title': 'Persistence',
        'subtitle': 'Протокол, обеспечивающий доступ к нескольким классам активов',
        'subtitle_en': 'Protocol that provides access to multiple asset classes',
        'fee': '0.0082',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'XPRT',
        'week_data': [5.5405,5.3489,5.5301,5.6075,5.5128,5.3808,5.3123,5.2964,5.3743,5.3645,5.3685,5.3271,5.212,5.1884,5.1749,5.1531,5.2286,5.3036,5.2855,5.37,5.5306,5.5285,5.6165],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,982',
        'market_cap': '256 376 940',
        'h24_vol': '1315777.2822',
        'price': '5.6165',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '35.9',
        'kepler_link': 'https://wallet.keplr.app/#/core/stake?modal=stake&validator=persistencevaloper1rxjmg3l0myaz6fzzvkum82lzyqz5acyxqqc08l',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'persistence1rxjmg3l0myaz6fzzvkum82lzyqz5acyxfycjwx',
        'cosmostation': 'https://wallet.cosmostation.io/persistence',
        'inflation': '31.22',
        'bonded_ratio': '85.33',
        'apy': '',
        'price_dynamics': false

      },
      {
        'coin': 'medibloc',
        'img': Mediblock,
        'title': 'Mediblock',
        'short_title': 'Mediblock',
        'subtitle': 'Информационная экосистема персонального здравоохранения, построенная на блокчейне',
        'subtitle_en': 'Personal healthcare information ecosystem built on blockchain',
        'fee': '0.0007',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'MED',
        'week_data': [0.0528,0.0519,0.0521,0.0521,0.0534,0.0533,0.0534,0.052,0.0531,0.053,0.0523,0.0527,0.053,0.0533,0.0534,0.0532,0.0529,0.0534,0.0531,0.0533],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '211 414 667',
        'h24_vol': '8307448.0486',
        'price': '0.0531',
        'h24_range': [],
        'stakewolle_comission': '2%',
        'annual_comission': '58',
        'kepler_link': '-',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'panacea1dw3ev60v44q68qrrsz8lmwrx68f70hyrykw5ry',
        'cosmostation': 'https://wallet.cosmostation.io/medibloc/',
        'inflation': '8.3',
        'bonded_ratio': '14.94',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'rizon',
        'img': Rizon,
        'title': 'Rizon',
        'short_title': 'Rizon',
        'subtitle': 'Основанная на Tendermint цифровая валюта и блокчейн-концентратор активов',
        'subtitle_en': 'A Tendermint-based digital currency and blockchain asset hub',
        'fee': '0.001',
        'market': 'ATOM',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'ATOLO',
        'week_data': [0.0537,0.0537,0.0532,0.0529,0.054,0.0531,0.0537,0.0523,0.0521,0.0521,0.0521,0.0521,0.0522,0.0512,0.0515,0.0516,0.0526,0.0517,0.0516,0.0514,0.0513,0.0515,0.0516],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,908',
        'market_cap': '75 888 816',
        'h24_vol': '347447.5569',
        'price': '0.0516',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '41.7',
        'kepler_link': '-',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'rizon170k335eghnmmjduy9qecwhaslkh63yrr2ugs62',
        'cosmostation': 'https://wallet.cosmostation.io/rizon/',
        'inflation': '15',
        'bonded_ratio': '34.33',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'bitsong',
        'img': BitSong,
        'title': 'BitSong',
        'short_title': 'BitSong',
        'subtitle': 'Артисты, фанаты, менеджеры и лейблы в единой целостной экосистеме',
        'subtitle_en': 'Artists, fans, managers and labels in a single integrated ecosystem',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'BTSG',
        'fee': '0.0051',
        'week_data': [0.4389,0.4326,0.4375,0.4467,0.4482,0.4436,0.4304,0.4292,0.4298,0.4392,0.436,0.4392,0.43,0.4305,0.434,0.4352,0.4359,0.4378,0.4477,0.4514,0.4619,0.46,0.4705],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,977',
        'market_cap': '10 906 497',
        'h24_vol': '142504.0252',
        'price': '0.4705',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '37.5',
        'kepler_link': 'https://wallet.bitsong.io/validators/bitsongvaloper1pn6mhrwq8vdhns366jwxkggmhmxypuhrrc4huu',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'bitsong1pn6mhrwq8vdhns366jwxkggmhmxypuhrzuf7vp',
        'cosmostation': 'https://wallet.cosmostation.io/bitsong/',
        'inflation': '12.81',
        'bonded_ratio': '33.76',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'likecoin',
        'img': LikeCoin,
        'title': 'LikeCoin',
        'short_title': 'LikeCoin',
        'subtitle': 'Децентрализует публикацию. Владейте своим контентом навсегда.',
        'subtitle_en': 'Decentralizes the publication. Own your content forever.',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'LIKE',
        'week_data': [0.0338,0.0323,0.0328,0.0323,0.0324,0.0322,0.0312,0.0311,0.0328,0.034,0.0337,0.0332,0.0328,0.0323,0.0322,0.0322,0.0321,0.032,0.0319,0.0326,0.0325,0.0332,0.0328],
        'fee': '0.0003',
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '22 304 193',
        'h24_vol': '71993.4916',
        'price': '0.0328',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '19.8',
        'kepler_link': '-',
        'pingpub_link': 'https://ping.pub/likecoin/staking/cosmosvaloper13ytytwjuerm3zc8svdvgh3vq7fgve75vnfxafm',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'cosmosvaloper13ytytwjuerm3zc8svdvgh3vq7fgve75vnfxafm',
        'cosmostation': '-',
        'inflation': '8.97',
        'bonded_ratio': '51.08',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'chihuahua',
        'img': Chihua,
        'title': 'Chihuahua',
        'short_title': 'Chihuahua',
        'subtitle': 'Мем коин сети Cosmos',
        'subtitle_en': 'Meme coin of the Cosmos network',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'HUA',
        'fee': '0',
        'week_data': [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,011',
        'market_cap': '?',
        'h24_vol': '122.7052',
        'price': '0',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '340',
        'kepler_link': '-',
        'pingpub_link': 'https://ping.pub/chihuahua/staking/chihuahuavaloper1ju6mkyxpjsdcmrw0pnx6sd4zu4wywkmhtgnpr5',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'chihuahua1ju6mkyxpjsdcmrw0pnx6sd4zu4wywkmhclnusg',
        'cosmostation': 'https://wallet.cosmostation.io/chihuahua/',
        'inflation': '60',
        'bonded_ratio': '15.31',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'lum-network',
        'img': Lum,
        'title': 'Lum Network',
        'short_title': 'Lum',
        'subtitle': 'Децентрализованный протокол для компаний, чтобы построить подлинное доверие со своими клиентами',
        'subtitle_en': 'A decentralized protocol for companies to build genuine trust with their customers',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'LUM',
        'fee': '0.0005',
        'week_data': [6.756746454089282,6.719625040648165,6.658400217984263,6.558804578850407,6.6631133217383045,6.706563820762318,6.629014771945889,6.643355019296165,6.65631336336257,6.732466353123477,6.859474037635452,6.846855370425091,6.881372608979835,6.847934913432598,6.826332843305616,6.724639877632615,6.676567804677883,6.709205764102956,6.672360529744785,6.676669618493899,6.706708127080004,6.607711163481223,6.532476511750449],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,921',
        'market_cap': '?',
        'h24_vol': '34275.9977',
        'price': '6.5324',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '48.7',
        'kepler_link': 'https://ping.pub/LUM%20Network/staking/lumvaloper1mpywgfyk6ku9uwfw4t6xhn050cjluhmjck27nx',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'lum1mpywgfyk6ku9uwfw4t6xhn050cjluhmj8prdgz',
        'cosmostation': 'https://wallet.cosmostation.io/lum/',
        'inflation': '20',
        'bonded_ratio': '41.25',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'sentinel',
        'img': Sentinel,
        'title': 'Sentinel',
        'short_title': 'Sentinel',
        'subtitle': 'Создание безопасных приложений $dVPN на Sentinel',
        'subtitle_en': 'Creating secure $dVPN applications on Sentinel',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'DVPN',
        'week_data': [0.0112,0.011,0.011,0.0113,0.0113,0.0109,0.0109,0.0108,0.0109,0.0109,0.0109,0.0109,0.0108,0.0108,0.0108,0.0108,0.0109,0.0111,0.011,0.0113,0.0115,0.0116,0.0124],
        'fee': '-0.0001',
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '45 305 057',
        'h24_vol': '2164844.7629',
        'price': '0.0124',
        'h24_range': [],
        'stakewolle_comission': '0.25%',
        'annual_comission': '52.4',
        'kepler_link': '-',
        'pingpub_link': 'https://ping.pub/sentinel/staking/sentvaloper1hms0qpe27uulkllw96tmeqnl4hvxsf4vwp729v',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'sent1hms0qpe27uulkllw96tmeqnl4hvxsf4v3yp829',
        'cosmostation': 'https://wallet.cosmostation.io/sentinel/',
        'inflation': '43',
        'bonded_ratio': '70.03',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'cheqd-network',
        'img': Cheqd,
        'title': 'CHEQD Network',
        'short_title': 'CHEQD',
        'subtitle': 'Создание частной и безопасной сети цифровых учетных данных SSI для надежной экономики данных',
        'subtitle_en': 'Creating a private and secure SSI Digital Credential network for a robust data economy',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'token': 'CHEQ',
        'week_data': [0.1751,0.1809,0.1751,0.1818,0.1797,0.1781,0.178,0.1735,0.1711,0.1737,0.1777,0.1759,0.1733,0.1723,0.1719,0.1688,0.174,0.1747,0.1787,0.1766,0.1955,0.2043,0.2126],
        'fee': '-0.0062',
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '100 879 682',
        'h24_vol': '154641.0231',
        'price': '0.2126',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '8',
        'kepler_link': 'https://ping.pub/cheqd/staking/cheqdvaloper1ny8gd9tsyqhm56agp4vkpa6fldr2n4guthcvfj',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'cheqdvaloper1ny8gd9tsyqhm56agp4vkpa6fldr2n4guthcvfj',
        'cosmostation': '-',
        'inflation': '2.41',
        'bonded_ratio': '34.54',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'dig-chain',
        'img': Dig,
        'title': 'DIG Chain',
        'short_title': 'DIG',
        'subtitle': 'Токенизация, фракционирование и управление недвижимостью через Dig Chain',
        'subtitle_en': 'Tokenization, Fractionation and Real Estate Management via Dig Chain',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'token': 'DIG',
        'fee': '-0.0001',
        'week_data': [6.756746454089282,6.719625040648165,6.658400217984263,6.558804578850407,6.6631133217383045,6.706563820762318,6.629014771945889,6.643355019296165,6.65631336336257,6.732466353123477,6.859474037635452,6.846855370425091,6.881372608979835,6.847934913432598,6.826332843305616,6.724639877632615,6.676567804677883,6.709205764102956,6.672360529744785,6.676669618493899,6.706708127080004,6.607711163481223,6.532476511750449],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '?',
        'h24_vol': '45.226',
        'price': '0.0162',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '43.5',
        'kepler_link': '-',
        'pingpub_link': 'https://ping.pub/dig/staking/digvaloper1vm6m78glgfjaepaxwcdg6py380q7yasds2k2t8',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'digvaloper1vm6m78glgfjaepaxwcdg6py380q7yasds2k2t8',
        'cosmostation': '-',
        'inflation': '21.6',
        'bonded_ratio': '53.15',
        'apy': '',
        'price_dynamics': false
      }
      ,
      {
        'coin': 'nomic',
        'img': Nomic,
        'title': 'Nomic',
        'short_title': 'Nomic',
        'subtitle': 'Мы делаем биткоиновские сайдчены и всякое такое',
        'subtitle_en': 'We make Bitcoin sidechains and stuff',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'token': 'NOM',
        'fee': '-0.0001',
        'week_data': [6.756746454089282,6.719625040648165,6.658400217984263,6.558804578850407,6.6631133217383045,6.706563820762318,6.629014771945889,6.643355019296165,6.65631336336257,6.732466353123477,6.859474037635452,6.846855370425091,6.881372608979835,6.847934913432598,6.826332843305616,6.724639877632615,6.676567804677883,6.709205764102956,6.672360529744785,6.676669618493899,6.706708127080004,6.607711163481223,6.532476511750449],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '?',
        'h24_vol': '48.226',
        'price': '0.0162',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '30',
        'kepler_link': '/',
        'coingecko_status': false,
        'ready_to_look': true,
        'adres': '-',
        'cosmostation': '-',
        'inflation': '0',
        'bonded_ratio': '-',
        'apy': '',
        'price_dynamics': false
      }
      ,
      {
        'coin': 'gravity',
        'img': Gravity,
        'title': 'Gravity-Bridge',
        'short_title': 'Gravity',
        'subtitle': 'Обеспечиваем безопасность бриджей между блокчейнами',
        'subtitle_en': 'Secure the operation of bridges between blockchains',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'token': 'GRAV',
        'fee': '-0.0001',
        'week_data': [0.4389,0.5326,0.5375,0.4467,0.4482,0.5436,0.4304,0.4292,0.4298,0.4392,0.436,0.4392,0.43,0.4305,0.434,0.4352,0.4359,0.4378,0.4477,0.4514,0.4619,0.46,0.4705],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,425',
        'market_cap': '?',
        'h24_vol': '45.226',
        'price': '0.0162',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '43.5',
        'kepler_link': '-',
        'pingpub_link': 'https://ping.pub/gravity-bridge/staking/gravityvaloper1vdvdl3krc9s4plnnvfk58k83lx5v38s6yse5ny',
        'coingecko_status': false,
        'ready_to_look': true,
        'adres': 'gravity1vdvdl3krc9s4plnnvfk58k83lx5v38s64mq2es',
        'cosmostation': 'https://wallet.cosmostation.io/gravity-bridge',
        'inflation': '14.28',
        'bonded_ratio': '31.04',
        'apy': '',
        'price_dynamics': false
      }
      ,
      {
        'coin': 'darcmatter-coin',
        'img': Konstellation,
        'title': 'Konstellation',
        'short_title': 'Konstellation',
        'subtitle': 'Инфраструктура для будущих децентрализованных фондовых рынков',
        'subtitle_en': 'Infrastructure for the future of the decentralized capital markets',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'token': 'DARC',
        'fee': '6.6',
        'week_data': [0.01031,0.01052,0.01053,0.01044,0.01091,0.01102,0.01108,0.01101,0.01097,0.01108,0.01296,0.01315,0.01273,0.01274,0.01186,0.01007,0.01111,0.01151,0.01160,0.01159,0.01176,0.01114,0.01046],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '?',
        'h24_vol': '44.102',
        'price': '0.0110',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '23.5',
        'kepler_link': '-',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'darc1txzc42vl5qel54tyuck8z8pfg979hwk8t6jkr2',
        'cosmostation': 'https://wallet.cosmostation.io/konstellation',
        'inflation': '14.61',
        'bonded_ratio': '61.02',
        'apy': '',
        'price_dynamics': false
      }
      ,
      {
        'coin': 'cerberus-2',
        'img': Cerberus,
        'title': 'Cerberus',
        'short_title': 'Cerberus',
        'subtitle': 'Мем-монета с трехглавым псом экосистемы Космос',
        'subtitle_en': 'Three-headed canine meme-coin and NFT Project launching on Cosmos',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'token': 'CRBRUS',
        'fee': '6.6',
        'week_data': [0.01031,0.01052,0.01053,0.01044,0.01091,0.01102,0.01108,0.01101,0.01097,0.01108,0.01296,0.01315,0.01273,0.01274,0.01186,0.01007,0.01111,0.01151,0.01160,0.01159,0.01176,0.01114,0.01046],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '4,416',
        'market_cap': '?',
        'h24_vol': '231.810',
        'price': '0.0002',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '235',
        'kepler_link': '-',
        'pingpub_link': 'https://ping.pub/cerberus/staking',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'cerberusvaloper1xjgspyv73d3k3ewygu0v2gcwwplwxkxg03reqy',
        'cosmostation': 'https://wallet.cosmostation.io/cerberus',
        'inflation': '43',
        'bonded_ratio': '12.24',
        'apy': '',
        'price_dynamics': false
      },
      {
        'coin': 'ixo',
        'img': Ixo,
        'title': 'IXO',
        'short_title': 'IXO',
        'subtitle': 'Создание торговой площадки Impact DAO в сети Impact. Углеродно-отрицательная цепь уровня 1, предназначенная для ReFi и контроля изменения EarthState',
        'subtitle_en': 'Building your Impact DAO marketplace on the Internet of Impact. A layer-1 carbon-negative chain purposed for ReFi and verifying EarthState change\n',
        'popup_class_slider': 'nets-popup__top-slider__wrapper-item next',
        'calc_class_slider_desktop': 'calculator-wrapper__item next',
        'calc_info_class_desktop': 'calculator-wrapper__info',
        'calc_class_slider_mobile': 'mobile-calculator__top-item next',
        'calc_class_info_mobile': 'mobile-calculator__info-item',
        'nets_class_slider_mobile': 'mobile-stacking__slider-top__item next',
        'nets_info_class_mobile': 'mobile-stacking__slider-info__item',
        'nets_popup_class_mobile': 'nets-popup__top-slider__wrapper-item next',
        'token': 'IXO',
        'fee': '6.6',
        'week_data': [0.01031,0.01052,0.01053,0.01044,0.01091,0.01102,0.01108,0.01101,0.01097,0.01108,0.01296,0.01315,0.01273,0.01274,0.01186,0.01007,0.01111,0.01151,0.01160,0.01159,0.01176,0.01114,0.01046],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,021',
        'market_cap': '?',
        'h24_vol': '6.004',
        'price': '0.0002',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '49.7',
        'kepler_link': '-',
        'pingpub_link': 'https://ping.pub/ixo/staking/ixovaloper12g6xke0lu758u8dtan8efsdhe2xxwxwh4lrjax',
        'coingecko_status': true,
        'ready_to_look': false,
        'adres': 'ixovaloper12g6xke0lu758u8dtan8efsdhe2xxwxwh4lrjax',
        'cosmostation': 'https://wallet.cosmostation.io/cerberus',
        'inflation': '20',
        'bonded_ratio': '40.17',
        'apy': '',
        'price_dynamics': false
      }
    ]
    // Текущая дата и вчерашняя - для отдельных запросов из Coingecko
    //const today = Math.floor(new Date().getTime() / 1000);
    //const yesterday = Math.floor(new Date(new Date().getTime() - 24*60*60*1000).getTime() / 1000)

  },

  methods: {
    round(number){
      return +number.toFixed(4);
    }
  },
  async mounted(){
    if(window.innerWidth<=428){
      this.mobile = true
    } else {
      this.desktop = true
    }

    window.addEventListener('orientationchange', () => {
      const orientation = window.matchMedia('(orientation: landscape)')
      if (orientation.matches) {
        window.location.reload()
      } else {
        window.location.reload()
      }
    })

    for(let i=0; i<this.nets.length; i++){
      if(this.nets[i].inflation === '0' || this.nets[i].bonded_ratio === '-'){
        this.nets[i].apy = '0'
      } else {
        this.nets[i].apy = this.round(parseFloat(this.nets[i].inflation)*1/(parseFloat(this.nets[i].bonded_ratio)/100))
      }
    }

    for (let i=0; i < this.nets.length; i++){
      if (this.nets[i].coingecko_status === true) {
        let coinArray = []
        let coin = await this.$axios.get('https://api.coingecko.com/api/v3/coins/'+this.nets[i].coin+'/market_chart?vs_currency=usd&days=1')
        try{
          for (let k=coin.data.prices.length-1; k >= 12; k-=12){
            coinArray.push(this.round(coin.data.prices[k][1]))
            this.nets[i].week_data = coinArray.reverse()
          }
          this.nets[i].price = this.round(coinArray.reverse()[coinArray.length-1])
          this.nets[i].fee = this.round(this.round(coinArray.reverse()[coinArray.length-1]) - this.round(coinArray.reverse()[coinArray.length-2]))
          this.nets[i].ready_to_look = true
          if(this.nets[i].fee>=0){
            this.nets[i].price_dynamics = true
          } else {
            this.nets[i].price_dynamics = false
          }
        } catch (e) {
          console.log(e)
        }
      }
    }
  }
}
</script>
